.main-menu {
  flex-shrink: 0;

  align-self: center;
}

@media (max-width: 1640px) {
  .main-menu {
    padding-left: 80px;
  }
}

.main-menu-list {
  padding: 0;
  margin: 0;

  list-style-type: none;
}
