.gameWrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.layout__game {
  user-select: none;
}

.gamePage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  height: 100vh;
}

.gameRoot {
  display: flex;
  align-items: center;
  justify-content: center;
}