.gameWrapper {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100%;
}

.layoutGame {
  user-select: none;
}

.gamePage {
  display: flex;

  align-items: center;
  justify-content: center;

  height: 100vh;
  margin-bottom: 64px;
}

.gameRoot {
  display: flex;

  align-items: center;
  justify-content: center;
}
