.footer {
  width: 100%;
  max-width: var(--content-size);
  padding: 54px 0;
  margin: 0 auto;

  background-color: var(--color-background);
  border-top: 6px solid var(--color-text-dark);
}

.copyright {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
