.profileInfoContainer {
  width: 610px;
  margin-top: 50px;
  margin-bottom: 83px;

  .form {
    display: flex;

    flex-direction: column;

    margin-top: 50px;

    .input {
      min-width: 610px;
      margin-bottom: 20px;
    }
  }

  .button {
    margin-top: 20px;

    font-family: 'Press Start 2P', serif;
    color: var(--color-text-light);

    background-color: var(--color-text-dark);
    border: none;
    border-radius: 0;
  }

  .button:hover {
    background-color: var(--color-text-dark);
  }
}
