.profileInfoContainer {
  width: 610px;
  margin-top: 120px;

  .formProfile {
    margin-top: 60px;

    :nth-child(2) {
      margin-top: 28px;
    }
    :nth-child(3) {
      margin-top: 28px;
    }
  }

  .button {
    background-color: var(--color-text-dark);
    border: none;
    border-radius: 0;
    color: var(--color-text-light);
    font-family: 'Press Start 2P', serif;
    margin-top: 20px;
  }

  .button:hover {
    background-color: var(--color-text-dark);
  }
}