.header-container {
  display: flex;

  flex-direction: column;

  gap: 32px;

  padding: 16px;
  margin-bottom: 60px;

  background-color: #c8c6bc;
}

.top {
  display: flex;

  justify-content: space-between;

  width: 100%;
}
