.container {
  display: flex;

  flex-direction: column;

  width: 610px;

  .headerForm {
    margin-bottom: 64px;
  }

  .inputAvatar {
    position: relative;

    display: flex;

    align-items: center;

    padding: 18px 33px;

    border: 1px solid var(--color-text-dark);

    input::-webkit-file-upload-button {
      display: none;
    }
  }

  .inputAvatarError {
    border: 1px solid var(--color-text-error);
  }

  .fieldFile {
    font-size: 14px;
  }

  .button {
    padding: 16px 0;
    margin-top: 24px;
  }

  .buttonFile {
    flex-shrink: 0;

    padding: 12px 36px;
    margin-right: 33px;
  }

  .buttonFile,
  .button {
    font-family: 'Press Start 2P', serif;
    font-size: 1.25rem;
    line-height: 1;
    color: var(--color-text-light);
    text-transform: none;

    background-color: var(--color-text-dark);
    border: none;
    border-radius: 0;

    &:hover {
      background-color: var(--color-text-dark);
    }
  }

  .error {
    position: absolute;
    top: calc(100% + 1px);
    right: 0;
    left: 0;

    padding: 1px 0;

    font-family: Inter, sans-serif;
    font-size: 0.85rem;
    color: var(--color-text-error);
    text-align: left;
  }
}
