:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index));
  position: fixed;
  padding: 4px;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
  color: #fff;
}
.Toastify__toast-container--top-left {
  top: 1em;
  left: 1em;
}
.Toastify__toast-container--top-center {
  top: 1em;
  left: 50%;
  transform: translate(-50%);
}
.Toastify__toast-container--top-right {
  top: 1em;
  right: 1em;
}
.Toastify__toast-container--bottom-left {
  bottom: 1em;
  left: 1em;
}
.Toastify__toast-container--bottom-center {
  bottom: 1em;
  left: 50%;
  transform: translate(-50%);
}
.Toastify__toast-container--bottom-right {
  bottom: 1em;
  right: 1em;
}
@media only screen and (max-width: 480px) {
  .Toastify__toast-container {
    width: 100vw;
    padding: 0;
    left: 0;
    margin: 0;
  }
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: 0;
    transform: translate(0);
  }
  .Toastify__toast-container--bottom-left,
  .Toastify__toast-container--bottom-center,
  .Toastify__toast-container--bottom-right {
    bottom: 0;
    transform: translate(0);
  }
  .Toastify__toast-container--rtl {
    right: 0;
    left: initial;
  }
}
.Toastify__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 10px #0000001a, 0 2px 15px #0000000d;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden;
  font-family: var(--toastify-font-family);
  cursor: default;
  direction: ltr;
  z-index: 0;
}
.Toastify__toast--rtl {
  direction: rtl;
}
.Toastify__toast--close-on-click {
  cursor: pointer;
}
.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 6px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.Toastify__toast-body > div:last-child {
  word-break: break-word;
  -ms-flex: 1;
  flex: 1;
}
.Toastify__toast-icon {
  -webkit-margin-end: 10px;
  margin-inline-end: 10px;
  width: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
}
.Toastify--animate {
  animation-fill-mode: both;
  animation-duration: 0.7s;
}
.Toastify--animate-icon {
  animation-fill-mode: both;
  animation-duration: 0.3s;
}
@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-bottom: 0;
    border-radius: 0;
  }
}
.Toastify__toast-theme--dark {
  background: var(--toastify-color-dark);
  color: var(--toastify-text-color-dark);
}
.Toastify__toast-theme--light,
.Toastify__toast-theme--colored.Toastify__toast--default {
  background: var(--toastify-color-light);
  color: var(--toastify-text-color-light);
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  color: var(--toastify-text-color-info);
  background: var(--toastify-color-info);
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  color: var(--toastify-text-color-success);
  background: var(--toastify-color-success);
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  color: var(--toastify-text-color-warning);
  background: var(--toastify-color-warning);
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  color: var(--toastify-text-color-error);
  background: var(--toastify-color-error);
}
.Toastify__progress-bar-theme--light {
  background: var(--toastify-color-progress-light);
}
.Toastify__progress-bar-theme--dark {
  background: var(--toastify-color-progress-dark);
}
.Toastify__progress-bar--info {
  background: var(--toastify-color-progress-info);
}
.Toastify__progress-bar--success {
  background: var(--toastify-color-progress-success);
}
.Toastify__progress-bar--warning {
  background: var(--toastify-color-progress-warning);
}
.Toastify__progress-bar--error {
  background: var(--toastify-color-progress-error);
}
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--info,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--success,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--warning,
.Toastify__progress-bar-theme--colored.Toastify__progress-bar--error {
  background: var(--toastify-color-transparent);
}
.Toastify__close-button {
  color: #fff;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s ease;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.Toastify__close-button--light {
  color: #000;
  opacity: 0.3;
}
.Toastify__close-button > svg {
  fill: currentColor;
  height: 16px;
  width: 14px;
}
.Toastify__close-button:hover,
.Toastify__close-button:focus {
  opacity: 1;
}
@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}
.Toastify__progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  z-index: var(--toastify-z-index);
  opacity: 0.7;
  transform-origin: left;
}
.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}
.Toastify__progress-bar--controlled {
  transition: transform 0.2s;
}
.Toastify__progress-bar--rtl {
  right: 0;
  left: initial;
  transform-origin: right;
}
.Toastify__spinner {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--toastify-spinner-color-empty-area);
  border-right-color: var(--toastify-spinner-color);
  animation: Toastify__spin 0.65s linear infinite;
}
@keyframes Toastify__bounceInRight {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}
@keyframes Toastify__bounceInUp {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Toastify__bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}
@keyframes Toastify__bounceInDown {
  0%,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75% {
    transform: translate3d(0, -10px, 0);
  }
  90% {
    transform: translate3d(0, 5px, 0);
  }
  to {
    transform: none;
  }
}
@keyframes Toastify__bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0);
  }
  40%,
  45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}
.Toastify__bounce-enter--top-left,
.Toastify__bounce-enter--bottom-left {
  animation-name: Toastify__bounceInLeft;
}
.Toastify__bounce-enter--top-right,
.Toastify__bounce-enter--bottom-right {
  animation-name: Toastify__bounceInRight;
}
.Toastify__bounce-enter--top-center {
  animation-name: Toastify__bounceInDown;
}
.Toastify__bounce-enter--bottom-center {
  animation-name: Toastify__bounceInUp;
}
.Toastify__bounce-exit--top-left,
.Toastify__bounce-exit--bottom-left {
  animation-name: Toastify__bounceOutLeft;
}
.Toastify__bounce-exit--top-right,
.Toastify__bounce-exit--bottom-right {
  animation-name: Toastify__bounceOutRight;
}
.Toastify__bounce-exit--top-center {
  animation-name: Toastify__bounceOutUp;
}
.Toastify__bounce-exit--bottom-center {
  animation-name: Toastify__bounceOutDown;
}
@keyframes Toastify__zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes Toastify__zoomOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.Toastify__zoom-enter {
  animation-name: Toastify__zoomIn;
}
.Toastify__zoom-exit {
  animation-name: Toastify__zoomOut;
}
@keyframes Toastify__flipIn {
  0% {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotateX(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateX(-5deg);
  }
  to {
    transform: perspective(400px);
  }
}
@keyframes Toastify__flipOut {
  0% {
    transform: perspective(400px);
  }
  30% {
    transform: perspective(400px) rotateX(-20deg);
    opacity: 1;
  }
  to {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}
.Toastify__flip-enter {
  animation-name: Toastify__flipIn;
}
.Toastify__flip-exit {
  animation-name: Toastify__flipOut;
}
@keyframes Toastify__slideInRight {
  0% {
    transform: translate3d(110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Toastify__slideInLeft {
  0% {
    transform: translate3d(-110%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Toastify__slideInUp {
  0% {
    transform: translate3d(0, 110%, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Toastify__slideInDown {
  0% {
    transform: translate3d(0, -110%, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes Toastify__slideOutRight {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(110%, 0, 0);
  }
}
@keyframes Toastify__slideOutLeft {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(-110%, 0, 0);
  }
}
@keyframes Toastify__slideOutDown {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 500px, 0);
  }
}
@keyframes Toastify__slideOutUp {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, -500px, 0);
  }
}
.Toastify__slide-enter--top-left,
.Toastify__slide-enter--bottom-left {
  animation-name: Toastify__slideInLeft;
}
.Toastify__slide-enter--top-right,
.Toastify__slide-enter--bottom-right {
  animation-name: Toastify__slideInRight;
}
.Toastify__slide-enter--top-center {
  animation-name: Toastify__slideInDown;
}
.Toastify__slide-enter--bottom-center {
  animation-name: Toastify__slideInUp;
}
.Toastify__slide-exit--top-left,
.Toastify__slide-exit--bottom-left {
  animation-name: Toastify__slideOutLeft;
}
.Toastify__slide-exit--top-right,
.Toastify__slide-exit--bottom-right {
  animation-name: Toastify__slideOutRight;
}
.Toastify__slide-exit--top-center {
  animation-name: Toastify__slideOutUp;
}
.Toastify__slide-exit--bottom-center {
  animation-name: Toastify__slideOutDown;
}
@keyframes Toastify__spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
._wrapper_1052b_1 {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--color-background);
}
._main_1052b_8 {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
}
._header_dxpbb_1 {
  padding: 60px 0;
  background-color: var(--color-background);
}
._title_dxpbb_6 {
  margin: 0;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
._footer_1bsvf_1 {
  width: 100%;
  max-width: var(--content-size);
  padding: 54px 0;
  margin: 0 auto;
  background-color: var(--color-background);
  border-top: 6px solid var(--color-text-dark);
}
._copyright_1bsvf_10 {
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}
._page-error_1qzq0_1 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
._wrapper-error_1qzq0_7 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}
._code-error_1qzq0_16 {
  margin: 0;
  font-size: 128px;
  font-weight: 400;
  color: var(--color-text-dark);
}
._description-error_1qzq0_23 {
  margin-top: 28px;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-text-dark);
  text-align: center;
}
._link-error_1qzq0_31 {
  margin-top: 110px;
  font-size: 32px;
  font-weight: 400;
  color: var(--color-text-dark);
  transition: color 0.25s ease-in-out;
}
._link-error_1qzq0_31:hover {
  color: var(--color-hover);
}
._page_9vyoa_1 {
  padding-bottom: 64px;
}
._title_9vyoa_5 {
  margin-bottom: 64px;
}
._input_1n4z5_1 {
  min-width: 610px;
}
._submit-button_1n4z5_5 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 24px;
}
._button_1n4z5_11 {
  width: 100%;
}
._link_1n4z5_15 {
  display: block;
}
._yandex-sign-in_1n4z5_19 {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 40px;
}
._input-container_16s7b_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
._label_16s7b_9 {
  font-size: 1.25rem;
  color: var(--color-text-dark);
}
._input_16s7b_1 {
  padding: 17px 24px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--color-text-dark);
}
._input_16s7b_1:focus {
  outline: 0;
  border: 1px solid var(--color-text-dark);
}
._input-error_16s7b_27 {
  border: 1px solid var(--color-text-error);
}
._error_16s7b_31 {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  text-align: left;
  padding: 1px 0;
  font-family: Inter, sans-serif;
  font-size: 0.85rem;
  color: var(--color-text-error);
}
._button_vybz2_1 {
  padding: 16px 30px;
  font-family: 'Press Start 2P', serif;
  color: var(--color-text-light);
  cursor: pointer;
  background-color: var(--color-text-dark);
  border: none;
  transition: opacity 0.2s ease;
}
._button_vybz2_1:hover,
._button_vybz2_1:focus-visible {
  opacity: 0.8;
}
._button_vybz2_1:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}
._button-transparent_vybz2_17 {
  padding: 0;
  color: var(--color-text-dark);
  background-color: transparent;
}
._button-small_vybz2_22 {
  font-size: 1rem;
}
._button-medium_vybz2_25 {
  font-size: 1.25rem;
}
._button-large_vybz2_28 {
  font-size: 2rem;
}
._link_24419_1 {
  padding: 16px 0;
  font-size: 1.25rem;
  color: var(--color-text-light);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-text-dark);
  transition: opacity 0.2s ease;
}
._link_24419_1:hover,
._link_24419_1:focus-visible {
  opacity: 0.8;
}
._backlink_8ocww_1 {
  position: fixed;
  top: calc(50% - 30px);
  left: 20px;
  width: 60px;
  height: 60px;
}
._backlink_8ocww_1 svg rect {
  transition: fill 0.3s;
}
._backlink_8ocww_1:hover svg rect {
  fill: var(--color-hover);
  transition: none;
}
._input_1pvh8_1 {
  min-width: 610px;
}
._submit-button_1pvh8_5 {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 24px;
}
._link_1pvh8_11 {
  display: block;
}
._headerTitle_mhxpe_1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  letter-spacing: 0;
}
._profileInfoContainer_udchq_1 {
  width: 610px;
}
._profileInfoContainer_udchq_1 ._headerProfile_udchq_4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
._profileInfoContainer_udchq_1 ._button_udchq_10 {
  margin-top: 24px;
  font-family: 'Press Start 2P', serif;
  color: var(--color-text-light);
  background-color: var(--color-text-dark);
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: none;
  padding: 16px 0;
}
._profileInfoContainer_udchq_1 ._button_udchq_10:hover {
  background-color: var(--color-text-dark);
}
._profileInfoContainer_udchq_1 ._avatar_udchq_25 {
  width: 80px;
  height: 80px;
}
._page_n2v38_1 {
  padding-bottom: 64px;
}
._containerProfilePage_n2v38_5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--content-size);
  padding-top: 60px;
  margin: 0 auto;
}
._wrapper-main_r9l5n_1 {
  display: flex;
  flex-grow: 1;
  width: 100%;
}
._page-main_r9l5n_7 {
  display: flex;
  flex: 1;
  padding-bottom: 64px;
}
._main-image_r9l5n_13 {
  flex-grow: 1;
  margin-left: 80px;
}
._main-image_r9l5n_13 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
._main-menu_1r0yg_1 {
  flex-shrink: 0;
  align-self: center;
}
@media (max-width: 1640px) {
  ._main-menu_1r0yg_1 {
    padding-left: 80px;
  }
}
._main-menu-list_1r0yg_11 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
._main-menu-list_1r0yg_11 li:last-child {
  padding: 0;
  margin-bottom: 0;
  font-size: 32px;
  line-height: 1;
  color: var(--color-text-dark);
}
._main-menu-item_1vzkj_1 {
  padding: 0;
  margin-bottom: 41px;
  font-size: 32px;
  line-height: 1;
  color: var(--color-text-dark);
}
._main-menu-item_1vzkj_1:last-child {
  margin-bottom: 0;
}
._main-menu-item_1vzkj_1 a {
  position: relative;
  color: var(--color-text-dark);
  text-decoration: none;
  transition: color 0.3s ease 0ms;
}
._main-menu-item_1vzkj_1 a:hover {
  color: var(--color-hover);
  transition: none;
}
._main-menu-item_1vzkj_1 a:before {
  position: absolute;
  top: calc(50% - 5px);
  left: -89px;
  width: 56px;
  height: 11px;
  content: '';
  background: url("data:image/svg+xml,%3Csvg width='56' height='11' viewBox='0 0 56 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.444443 10.5V0.5L3.22222 0.5V10.5H0.444443ZM33.7778 8L42.1111 8V3L33.7778 3L29.6111 0.5L6 0.5V10.5L29.6111 10.5L33.7778 8ZM56 5.5C56 5.5 53.2222 3 47.6667 3H44.8889V8L47.6667 8C47.6667 8 53.2222 8 56 5.5Z' fill='%23181818'/%3E%3C/svg%3E")
    no-repeat center/contain;
  opacity: 0;
  transition: opacity 0.3s ease 0ms;
}
._main-menu-item_1vzkj_1 a:hover:before {
  opacity: 1;
  transition: none;
}
._page_h95ld_1 {
  padding-bottom: 100px;
}
._game_1uk6g_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  height: 100vh;
}
._layout__game_1uk6g_9 {
  user-select: none;
}
._header_amfuc_1 {
  display: grid;
  grid-template-columns: 405px repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 48px;
}
._th_amfuc_8 {
  font-size: 1.5rem;
}
._rows_amfuc_12 {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
._row_1ba9c_1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
._td_1ba9c_7 {
  font-size: 1.25rem;
}
._nickname_1ba9c_11 {
  min-width: 405px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
._page_1axdr_1 {
  padding-top: 64px;
  background-color: var(--color-background);
}
._title_1axdr_6 {
  margin-bottom: 70px;
  font-size: 2rem;
}
._link_1axdr_11 {
  position: fixed;
  top: 50%;
  left: 120px;
  transform: translateY(-50%);
}
._containerForumItem_8p3fl_1 {
  display: block;
  border: 1px solid var(--color-text-dark);
  margin-top: 10px;
  padding: 20px;
  text-decoration: none;
  color: var(--color-text-dark);
  font-size: 24px;
}
._headerContainer_8p3fl_11 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
._bodyForum_8p3fl_17 {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
}
._date_8p3fl_22 {
  font-size: 10px;
  display: flex;
  align-items: center;
  font-size: 24px;
}
._commentsCountIcon_8p3fl_29 {
  margin-left: 30px;
  margin-right: 5px;
}
._containerForumHeader_1hxwr_1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
._containerForum_ai6p6_1 {
  width: var(--content-size-forum);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 64px;
}
._headerContainer_1r5cn_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
._container_1o6ls_1 {
  border: 1px solid var(--color-text-dark);
  padding: 20px;
  margin-bottom: 24px;
  display: flex;
  font-size: 20px;
}
._containerComment_1o6ls_9 {
  margin-left: 10px;
}
._avatar_1o6ls_13 {
  width: 80px !important;
  height: 80px !important;
}
._header_1o6ls_18 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
._bodyComment_1o6ls_24 {
  font-family: Inter, Helvetica, sans-serif;
}
._dateComment_1o6ls_28 {
  display: flex;
  align-items: center;
}
._commentsCountIcon_1o6ls_33 {
  cursor: pointer;
  margin-left: 30px;
  margin-right: 5px;
}
._input-container_1orug_1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
._input_1orug_1 {
  padding: 14px 24px;
  font-family: Inter, sans-serif;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid var(--color-text-dark);
  resize: none;
}
._container_36cht_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
}
._emptyComments_36cht_8 {
  margin-top: 20px;
}
._inputGroup_36cht_12 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 60px;
}
._textField_36cht_19 {
  height: 250px;
}
._button_36cht_23 {
  margin-top: 10px;
}
._containerTopicForum_4achu_1 {
  width: var(--content-size-forum);
  display: flex;
  flex-direction: column;
  justify-content: start;
}
._containerNewTopic_1lv42_1 {
  display: flex;
  flex-direction: column;
}
._header_1lv42_6 {
  margin-bottom: 60px;
}
._formGroup_1lv42_10 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
}
._input_1lv42_17 {
  margin-bottom: 28px;
}
._textField_1lv42_21 {
  margin-bottom: 40px;
  height: 230px;
}
._profileInfoContainer_h8cci_1 {
  width: 610px;
}
._profileInfoContainer_h8cci_1 ._button_h8cci_4 {
  margin-top: 24px;
  font-family: 'Press Start 2P', serif;
  color: var(--color-text-light);
  background-color: var(--color-text-dark);
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: none;
  padding: 16px 0;
}
._profileInfoContainer_h8cci_1 ._button_h8cci_4:hover {
  background-color: var(--color-text-dark);
}
._profileInfoContainer_h8cci_1 ._headerForm_h8cci_19 {
  margin-bottom: 64px;
}
._container_iwayl_1 {
  display: flex;
  flex-direction: column;
  width: 610px;
}
._container_iwayl_1 ._headerForm_iwayl_6 {
  margin-bottom: 64px;
}
._container_iwayl_1 ._inputAvatar_iwayl_9 {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-text-dark);
  padding: 18px 33px;
}
._container_iwayl_1 ._inputAvatar_iwayl_9 input::-webkit-file-upload-button {
  display: none;
}
._container_iwayl_1 ._inputAvatarError_iwayl_19 {
  border: 1px solid var(--color-text-error);
}
._container_iwayl_1 ._fieldFile_iwayl_22 {
  font-size: 14px;
}
._container_iwayl_1 ._button_iwayl_25 {
  margin-top: 24px;
  padding: 16px 0;
}
._container_iwayl_1 ._buttonFile_iwayl_29 {
  padding: 12px 36px;
  margin-right: 33px;
  flex-shrink: 0;
}
._container_iwayl_1 ._buttonFile_iwayl_29,
._container_iwayl_1 ._button_iwayl_25 {
  font-family: 'Press Start 2P', serif;
  color: var(--color-text-light);
  background-color: var(--color-text-dark);
  border: none;
  border-radius: 0;
  font-size: 1.25rem;
  line-height: 1;
  text-transform: none;
}
._container_iwayl_1 ._buttonFile_iwayl_29:hover,
._container_iwayl_1 ._button_iwayl_25:hover {
  background-color: var(--color-text-dark);
}
._container_iwayl_1 ._error_iwayl_49 {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
  text-align: left;
  padding: 1px 0;
  font-family: Inter, sans-serif;
  font-size: 0.85rem;
  color: var(--color-text-error);
}
._page_1fa4a_1 {
  padding-bottom: 64px;
}
._game-start_1dbh2_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
._window_1dbh2_10 {
  min-width: 864px;
  padding: 36px 40px 64px;
  background-color: var(--color-background);
  box-shadow: 5px 5px 10.1px 13px #00000040;
}
._wrapper-text_1dbh2_17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 784px;
}
._wrapper-text_1dbh2_17:first-child {
  margin-bottom: 40px;
}
._title_1dbh2_27 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
  color: #000;
}
._text_1dbh2_34 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}
._keyboard-image_1dbh2_41 {
  display: block;
  width: 562px;
  height: 212px;
  margin: 35px auto 0;
}
._link_1dbh2_48 {
  width: 100%;
  margin-top: 85px;
}
._section_1y6rn_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 64px 32px;
  text-align: center;
  background-color: var(--color-background);
}
._title_1y6rn_12 {
  margin-bottom: 32px;
  font-size: 3rem;
  line-height: 1.5;
  text-transform: uppercase;
}
._text_1y6rn_19 {
  margin-bottom: 16px;
  font-size: 1.5rem;
  line-height: 1.5;
}
._emoji_1y6rn_25 {
  font-size: 5rem;
}
