.link {
  padding: 16px 0;

  font-size: 1.25rem;
  color: var(--color-text-light);
  text-align: center;
  text-decoration: none;

  background-color: var(--color-text-dark);

  transition: opacity 0.2s ease;

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }
}
