.wrapperMain {
  display: flex;

  flex-grow: 1;

  width: 100%;
}

.pageMain {
  display: flex;

  flex: 1;

  padding-bottom: 64px;
}

.mainImage {
  flex-grow: 1;

  margin-left: 80px;
}

.mainImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
