.button {
  padding: 16px 30px;

  font-family: "Press Start 2P", serif;
  color: var(--color-text-light);

  cursor: pointer;

  background-color: var(--color-text-dark);
  border: none;

  transition: opacity 0.2s ease;

  &:hover, &:focus-visible {
    opacity: 0.8;
  }

  &:disabled {
    cursor: not-allowed;

    opacity: 0.4;
  }

  &-transparent {
    padding: 0;

    color: var(--color-text-dark);

    background-color: transparent;
  }

  &-small {
    font-size: 1rem;
  }

  &-medium {
    font-size: 1.25rem;
  }

  &-large {
    font-size: 2rem;
  }
}
