.main-menu-item {
  padding: 0;
  margin-bottom: 41px;

  font-size: 32px;
  line-height: 1;
  color: var(--color-text-dark);
}

.main-menu-item:last-child {
  margin-bottom: 0;
}

.main-menu-item a {
  position: relative;

  color: var(--color-text-dark);
  text-decoration: none;

  transition: color 300ms ease 0ms;
}

.main-menu-item a:hover {
  color: var(--color-hover);

  transition: none;
}

.main-menu-item .bullet {
  position: absolute;
  top: calc(50% - 5px);
  left: -89px;

  width: 56px;
  height: 11px;

  content: '';

  opacity: 0;

  transition: opacity 300ms ease 0ms;
}

.main-menu-item a:hover .bullet {
  opacity: 1;

  transition: none;

  color: var(--color-text-dark);
}
