.pageError {
  display: flex;

  flex-direction: column;

  align-items: stretch;
}

.wrapperError {
  display: flex;

  flex-direction: column;
  flex-grow: 1;

  align-items: center;
  justify-content: center;

  width: 100%;
}

.codeError {
  margin: 0;

  font-size: 128px;
  font-weight: 400;
  color: var(--color-text-dark);
}

.descriptionError {
  margin-top: 28px;

  font-size: 24px;
  font-weight: 400;
  color: var(--color-text-dark);
  text-align: center;
}

.linkError {
  margin-top: 110px;

  font-size: 32px;
  font-weight: 400;
  color: var(--color-text-dark);

  transition: color 0.25s ease-in-out;

  &:hover {
    color: var(--color-hover);
  }
}
