.containerNewTopic {
  display: flex;
  flex-direction: column;
  width: var(--content-size);
}

.formGroup {
  margin-top: 20px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textField {
  height: 300px;
}