.containerNewTopic {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 60px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 64px;
}

.input {
  margin-bottom: 28px;
}

.textField {
  margin-bottom: 40px;
  height: 230px;
}
