.containerForumItem {
  display: block;

  padding: 20px;
  margin-top: 10px;

  font-size: 24px;
  color: var(--color-text-dark);
  text-decoration: none;

  border: 1px solid var(--color-text-dark);
}

.headerContainer {
  display: flex;

  justify-content: space-between;

  margin-bottom: 15px;
}

.bodyForum {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
}

.date {
  display: flex;

  align-items: center;

  font-size: 24px;
}

.commentsCountIcon {
  margin-right: 5px;
  margin-left: 30px;
}
