.reactionsContainer {
  display: flex;

  flex-wrap: wrap;

  gap: 4px;
}

.reactions {
  display: flex;

  margin-top: 15px;
}

.emojiWrapper {
  display: flex;

  gap: 1px;

  align-items: center;

  padding: 0 10px 5px 5px;

  border: 1px solid;
  border-radius: 16px;
}

.emojiSpan {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  cursor: pointer;
}

.emojiCount {
  padding-top: 8px;
  margin-left: 5px;

  font-size: 14px;
  text-align: center;
}

.pickerContainer {
  position: relative;

  display: flex;

  align-items: center;

  padding-bottom: 4px;
  margin-left: 10px;
}

.pickerImage {
  width: 25px;

  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.emojiPicker {
  position: absolute;
  top: 100%;
  z-index: 5;
}
