.reactionsContainer {
  display: flex;
  gap: 4px;
  padding-bottom: 10px;
  flex-wrap: wrap;
}

.emojiWrapper {
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 1px solid;
  gap: 1px;
}

.emojiSpan {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.emojiCount {
  font-size: 14px;
  text-align: center;
  margin-right: 5px;
  text-align: center;
}

.pickerContainer {
  position: relative;
}

.pickerImage {
  cursor: pointer;
  width: 25px;

  &:hover {
    opacity: 0.7;
  }
}

.emojiPicker {
  position: absolute;
  top: 100%;
  z-index: 5;
}
