.page {
  padding: 64px 0;

  background-color: var(--color-background);
}

.title {
  margin-bottom: 70px;

  font-size: 2rem;
}

.link {
  position: fixed;
  top: 50%;
  left: 120px;

  transform: translateY(-50%);
}
