.header {
  padding: 60px 0;

  background-color: var(--color-background);
}

.title {
  margin: 0;

  font-size: 32px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}
