.input {
  width: clamp(100%, 80vw, 610px);
}

.submit-button {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 24px;
}

.button {
  width: 100%;
}

.link {
  display: block;
}

.yandex-sign-in {
  display: flex;
  flex-direction: column;

  gap: 14px;

  margin-top: 40px;
}
